/* CUSTOM */
:root {
    --light-azure: rgb(86, 178, 244);
    --orange: rgb(255, 165, 0);
    --light-gray: rgb(174, 176, 177);
    --white: rgb(255, 255, 255);
    --green-grass: rgb(14, 147, 30);
    --dark-gray: rgb(45, 46, 46);
    --pink: rgb(245, 119, 245);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
}

ul {
    list-style: none;
}

/* COMMON */
/* Layout */
.container {
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.hero-container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

/* Utilities */
.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.border {
    border: 1px dashed black;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.px-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.bg-light-azure {
    background-color: var(--light-azure);
}

.bg-orange {
    background-color: var(--orange)
}

.bg-light-gray {
    background-color: var(--light-gray);
}

.bg-white {
    background-color: var(--white)
}

.bg-green-grass {
    background-color: var(--green-grass)
}

.bg-dark-gray {
    background-color: var(--dark-gray)
}

.bg-pink {
    background-color: var(--pink);
}


/* HEADER */

.header {
    height: 80px;
    align-items: center;
}

.header-nav {
    align-items: center;
}

.nav-img {
    width: 20%;
}

.nav-menu {
    width: 60%;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* in alternativa usare MARGIN, che lavora anche senza flex*/

}

.nav-btn {
    width: 20%;
    text-align: right;
}

/* HERO */
.hero {
    background-color: darkblue;
}

.hero-content {
    background-color: plum;
    justify-content: center;
    align-items: center;

}

/* CONTENT BLOCK */
.content-block-img {
    width: 60%;
    background-color: dodgerblue;
}

.content-block-txt {
    width: 40%;
    background-color: pink;
}

/* FOOTER */
.footer-top {
    /* justify-content: space-between; */
    align-items: center;

    /* debug */
    /* min-height: 40px; */
}

.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%;
}

.col-25 {
    width: 25%;
}

.footer-bottom {
    /* height: 40px; */
    justify-content: space-between;
    align-items: center;
}